/* DESKTOP VIEWPORT */
body{
    background-color:hsl(275, 100%, 97%);
    font-size: 16px;
    background-image: url('./assets/images/background-pattern-desktop.svg');
    background-repeat: no-repeat;
};

/* MOBILE VIEWPORT */
@media screen and (max-width: 425px) {
    body{
        background-image: url('./assets/images/background-pattern-mobile.svg');
    }
}